
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 0 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
  color: #fff;
}

.header ul {
  list-style-type: none;
  display: flex;
}

.header li {
  color: #fff;
  margin-right: 12px;
}

.header a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 8px 10px;
  background-color: #6aa3ee;
  border-radius: 5px;
  border: #fff solid 1px;
}

.header a:hover {
  color: black;
  background-color: #fff;
}

.header a:active {
  color: #000;
  background-color: #fff;
}

.header a:focus {
  color: #000;
  background-color: #fff;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  padding: 50px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.container h1 {
  margin: 12px;
}

.quote {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-style: italic;
  width: calc(60% - 85px);
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: gray solid 2px;
  background-color: aliceblue;
  margin: 12px;
  padding: 24px 40px 0;
}

.quote img {
  width: 30%;
  text-align: center;
}

.quote h2 {
  text-align: center;
}

.quote blockquote {
  display: inline-block;
  margin: 0;
  padding: 1em;
  position: relative;
}

.quote blockquote::before {
  color: #f90;
  content: "“";
  font-size: 2em;
  left: 0;
  line-height: 0.75em;
  position: absolute;
  top: 0;
  transform: scale(2, 8);
  transform-origin: top;
}

.quote blockquote::after {
  color: #f90;
  content: "”";
  font-size: 2em;
  line-height: 0.75em;
  position: absolute;
  right: 0;
  top: 0;
  transform: scale(2, 8);
  transform-origin: top;
}

.quote blockquote > * {
  padding: 0 2em;
}

.quote blockquote cite {
  color: #c60;
  display: block;
  font-style: normal;
  text-align: right;
  text-transform: uppercase;
}

.quote p {
  margin: 12px;
}

.calculator {
  width: 60%;
  margin: 12px;
}

.display {
  width: calc(100% - 26px);
  height: 50px;
  padding: 12px;
  background-color: gray;
  color: #fff;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  border: gray solid 1px;
}

.normal {
  width: 25%;
  height: 50px;
  background-color: rgb(221, 220, 220);
  border: rgb(190, 189, 189) solid 0.5px;
}

.operator {
  width: 25%;
  height: 50px;
  background-color: rgb(230, 130, 17);
  border: rgb(190, 189, 189) solid 0.5px;
}

.zero {
  width: 50%;
  height: 50px;
  background-color: rgb(221, 220, 220);
  border: rgb(190, 189, 189) solid 0.5px;
}

.active {
  color: #000;
  background-color: #fff;  
}

@media only screen and (min-width: 760px) {
  .container {
    display: flex;
  }

  .quote {
    width: 50%;
    min-height: 300px;
  }

  .calculator {
    width: 70%;
    margin: 12px;
  }
}
